.ArticleItem {
  flex-flow: row;
  flex-wrap: nowrap;
  width: 100%;

  .meta {
    color: #999;
    list-style: none;
    padding: 0;
    margin: 3px 0 0;
    flex-flow: row;
    width: 100%;
  }

  .score {
    flex-grow: 0;
    padding: 0;
  }

  .url {
    flex-grow: 2;
    text-align: right;
  }

  .author {
    margin-left: 10px;
    a {
      color: #999 !important;
    }
  }

  .ListItem--after {
    flex-grow: 1;
    width: 66px;
    margin: 0;
    z-index: 3;
    position: relative;
  }
}