.ArticleItem {
  flex-flow: row;
  flex-wrap: nowrap;
  width: 100%;

  ul {
    color: rgba(0,0,0,0.5);
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    flex-flow: row;
    width: 100%;
  }

  li {
    padding: 0 10px 0 0;
    font-size: 13px;
    flex-grow: 1;
  }

  .score {
    flex-grow: 0;
    padding: 0;
  }

  .url {
    flex-grow: 2;
    text-align: right;
  }

  .author {
    margin-left: 10px;
    a {
      color: rgba(0,0,0,0.5) !important;
    }
  }

  .ListItem--after {
    flex-grow: 1;
    width: 60px;
    margin: 0;
    z-index: 3;
    position: relative;

    span {
      margin: auto;
    }
  }
}