.comment {
  line-height: 18px;

  .comment {
    border-left: 10px solid #ecedde;

    &.level-5 { border-color: #e2e3d2; }
    &.level-4 { border-color: #dbddcc; }
    &.level-3 { border-color: #d5d7c6; }
    &.level-2 { border-color: #cfd1c1; }
    &.level-1 { border-color: #c9cbbb; }
  }

  &--content {
    border-bottom: 1px solid #e2e3d2;
    padding: 5px 12px;
    padding-left: 0;
    margin-left: 44px;
  }

  h3 {
    font-size: 14px;
    margin: 5px 0;
    flex-flow: row;
  }

  p {
    font-size: 15px;
    line-height: 1.3rem;
    margin: 0 0 10px 0;
    word-wrap: break-word;
  }

  h3, p {
    margin-left: -25px;
  }

  code {
    word-wrap: break-word;
  }
}