.comment {
  display: block;
  line-height: 18px;

  .comment {
    border-left: 10px solid #ecedde;

    &.level-5 { border-color: #e2e3d2; }
    &.level-4 { border-color: #dbddcc; }
    &.level-3 { border-color: #d5d7c6; }
    &.level-2 { border-color: #cfd1c1; }
    &.level-1 { border-color: #c9cbbb; }
  }

  div {
    display: block;
  }

  &--content {
    border-bottom: 1px solid #e2e3d2;
  }

  h3 {
    font-size: 15px;
    margin: 4px 0;
  }

  p {
    font-size: 14px;
    line-height: 1.3rem;
    margin: 0 0 10px 0;
    word-wrap: break-word;
  }

  p a {
    pointer-events: auto;
    padding: 8px 0;
    margin: -8px 0;
  }

  h3, p {
  }

  code {
    word-wrap: break-word;
  }
}

.closed-true {
  display: none;
}