.comment {
  line-height: 18px;

  .comment {
    border-left: 10px solid rgba(0,0,0,0.04);

    &.level-5 { border-color: rgba(0,0,0,0.08); }
    &.level-4 { border-color: rgba(0,0,0,0.12); }
    &.level-3 { border-color: rgba(0,0,0,0.16); }
    &.level-2 { border-color: rgba(0,0,0,0.20); }
    &.level-1 { border-color: rgba(0,0,0,0.24); }
  }

  &--content {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 5px 12px;
  }

  &.closed {
    height: 44px;
    overflow: hidden;
    background: rgba(0,0,0,0.1);
    opacity: .5;

    h3 {
      margin-top: 8px;
    }

    p {
      display: none;
    }
  }

  h3 {
    font-size: 14px;
    margin: 5px 0;
    flex-flow: row;
  }

  p {
    margin: 0 0 10px 0;
    word-wrap: break-word;
  }

  code {
    word-wrap: break-word;
  }
}